[run]
source=
    src
omit =
    */Test_*.py
    **/Test_*.py
    Test_*.py
    src/core/exceptions/*
    src/core/enums/*
    src/core/models/tablero/Tablero_Impresor.py
    */tests/*
    **/tests/*
    */test_*.py
    **/test_*.py
[report]
exclude_lines = 
    ^\s*'''